@use 'variables'

// Base fluid units styles
.e-units-fluid
	input[type="text"],
	input[type="number"]
		display: none

	.elementor-control-fluid-selector-container
		display: block
		width: 100%

	.elementor-slider-input
		display: none

// Base selector container styles
.elementor-control-fluid-selector-container
	display: none
	position: relative
